# Sunrise

![](http://media.licdn.com/dms/image/C4E1BAQH7TRkXDfcXmw/company-background_10000/0?e=2159024400&v=beta&t=Aqn_9tT8numLtmeMa8iEuQyIeY2SpRhoRx983GhjSFw)

# Sunrise

![](https://m.blog.naver.com/youji4ever/221484324353?view=img_1)

# EDA 자동화 라이브러리

# 1. pandas-profiling
- conda install pandas-profiling을 실행이 우선
- 용량이 큰 데이터는 작동이 잘 되지 않음

In [24]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [21]:
import pandas as pd
from pandas_profiling import ProfileReport

#EDA using pandas-profiling
df = pd.read_csv('../data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
profile = ProfileReport(df)

In [23]:
#Saving results to a HTML file
profile.to_file("../output/output.html")

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

이 외의 sweetviz,

# 2. dtale
- conda install dtale 실행이 우선

In [18]:
import dtale

df = pd.read_pickle('../data/MCR2019.pkl')
dtale.show(df)

In [13]:
dtale.show(pd.read_csv("../data/train.csv"))