# 1일차 파이썬 프로그래밍

## 1. 간단한 코딩

In [12]:
a = 9 + 2
a

11

In [10]:
# 여기다가는 코멘트 입력 
b = 'hello'
b

'hello'

In [13]:
'''The Matrix is everywhere. It is all around us. Even now, in this very room. '''

'The Matrix is everywhere. It is all around us. Even now, in this very room. '

In [18]:
c = 36.4
d = input('현재 체온은?')

현재 체온은?37

In [15]:
d

'37'

In [16]:
print(a)

11

In [17]:
print(b)

hello

In [19]:
print(f'당신의 체온은 정상{c}보다{d-c}높네요')

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [20]:
type(d)

str

In [21]:
print(f'당신의 체온은 정상{c}보다{int(d)-c}높네요')

당신의 체온은 정상36.4보다0.6000000000000014높네요

In [22]:
x = 9

## type 함수로 데이터의 종류를 확인(check data types)

In [52]:
print(x)
print(type(x))
print(id(x)) # 메모리 주소확인

True
<class 'bool'>
140714517506384

In [53]:
x = 9.0
print(x); print(type(x)); print(id(x)); # ‘;’ 는 여러 명령어를 한 줄에 기록

9.0
<class 'float'>
2829747866960

In [56]:
type('hello')

str

In [57]:
type(1)

int

In [59]:
type(1-2j)

complex

In [60]:
(1-2j)*(1+2j)

(5+0j)

In [62]:
1.5e10

15000000000.0

In [63]:
str(12)

'12'

In [64]:
int('12')

12

## 사칙연산

In [28]:
39

39

In [29]:
3+9

12

In [30]:
3-9

-6

In [33]:
3*9

27

In [34]:
3/9

0.3333333333333333

In [35]:
3%9

3

In [36]:
3//9

0

In [54]:
y = 10
y += 1
y

11

## 논리연산

In [37]:
print(True & False)
print(True | False)
print(True and False)
print(True or False)

False
True
False
True

In [38]:
True + 1
True*10
True + True
False + 1
False*10

0

In [39]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [40]:
True + 1
True*10
True + True
False + 1
False*10

2

10

2

1

0

## 수치 비교

In [42]:
2==3
2 is 3
2 !=3
not (2==3)
2>3
2<3
2>=3
2<=3

False

False

True

True

False

True

False

True

In [43]:
(2>=3 and 2 <=3)

False

In [46]:
(2 <=3 or 2 >=3)
not (2 <=3 or 2 >=3)

True

False

In [47]:
2 in [2,3,4]

True

In [48]:
2 in [2,5, 'hello']

True

In [41]:
x
y

9.0

11

In [49]:
print(x > y); print(x < y)
print(x <= y); print(x >= y)
print(x == y); print(x != y)
print(x is y); print(x is not y)

False
True
True
False
False
True
False
True

In [50]:
x = True
x
type(x)

True

bool

## 문자열

In [68]:
x = '파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.'
x
type(x)

'파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.'

str

In [69]:
print('누군가 말하길' + x)

누군가 말하길파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.

In [70]:
print('누군가 말하길' + '\n' + x)

누군가 말하길
파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.

In [78]:
#앞뒤 공백을 제거
theme_ai_data_science = '      AI 데이터 과학 기초      '

In [79]:
theme_ai_data_science.strip()

'AI 데이터 과학 기초'

In [80]:
len(theme_ai_data_science) # 공백도 문자열로 인식

24

In [83]:
len('xyz')
len('  xyz')
len('  xyz'.strip()) # 공백을 제거한 순수 문자열의 크기

3

5

3

In [84]:
x

'파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.'

In [85]:
x.replace('썬', '선')
x.replace('파이썬', '파송송')
'언어' in x

'파이선 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.'

'파송송 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.'

True

In [86]:
x + x
len(x)
x.find('썬')

'파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.파이썬 프로그래밍 언어는 쉽고 간결하고 유연성이 아주 높습니다.'

35

2

In [87]:
x[0]
x[-1]
x[-2]

'파'

'.'

'다'

In [88]:
type(9), type(1.5e5), type('파이썬')
print('정수: {0:d}, 문자 : {1:.3f}, 실수 : {2:s}'.format(9, 5e5, '파이썬'))
print('수자이지만 문자로 출력 {0!s} 실수로 출력 {1:.2f}'.format(1.5e5, 1.5e5))

(int, float, str)

정수: 9, 문자 : 500000.000, 실수 : 파이썬
수자이지만 문자로 출력 150000.0 실수로 출력 150000.00

In [89]:
name ='파이썬'; language = '영어'; sex ='남성'
f'Hi, I am {name}, I like to use {language}. I am {sex}. Nice to meet you.'

'Hi, I am 파이썬, I like to use 영어. I am 남성. Nice to meet you.'

In [91]:
x = 9; y = 10.24
print(f'{x}와 {y} 그리고 더하면 {x+y}')

9와 10.24 그리고 더하면 19.240000000000002

# List

In [94]:
x = [] 
x = [9, 9.0, '파이썬', True] 
x
type(x)

[9, 9.0, '파이썬', True]

list

In [95]:
len(x)
x[2]
x[1:3]
8 in x

4

'파이썬'

[9.0, '파이썬']

False

In [96]:
x.append('대한민국')
x

[9, 9.0, '파이썬', True, '대한민국']

In [98]:
x = [9,5,3,7,1,11]
sorted(x)
sorted(x, reverse=True)

[1, 3, 5, 7, 9, 11]

[11, 9, 7, 5, 3, 1]

# Dictionary

In [100]:
x = {}  # x = dict()
x = {'a':1, 'b':3, 'c':5, 'd':7}
x
type(x)

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

dict

In [101]:
len(x)
x['a']
x['e']= 9
x
x.items(); x.keys()
x.values()

4

1

{'a': 1, 'b': 3, 'c': 5, 'd': 7, 'e': 9}

dict_items([('a', 1), ('b', 3), ('c', 5), ('d', 7), ('e', 9)])

dict_keys(['a', 'b', 'c', 'd', 'e'])

dict_values([1, 3, 5, 7, 9])

## 조건문과 반복문(If, for loop)

In [116]:
for (key, value) in x.items():
    (key, value)

('a', 1)

('b', 3)

('c', 5)

('d', 7)

('e', 9)

In [117]:
for (key, value) in x.items():
    (value, key)

(1, 'a')

(3, 'b')

(5, 'c')

(7, 'd')

(9, 'e')

In [118]:
reverse =[]
for (key, value) in x.items():
    reverse.append((value, key))

In [119]:
reverse

[(1, 'a'), (3, 'b'), (5, 'c'), (7, 'd'), (9, 'e')]

In [120]:
### dictionary comprehension form

In [121]:
dict([(value, key) for (key, value) in x.items()])
x.get('c')

{1: 'a', 3: 'b', 5: 'c', 7: 'd', 9: 'e'}

5

In [23]:
sorted(x.items(), key=lambda kv: kv[0], reverse=True)

[('e', 9), ('d', 7), ('c', 5), ('b', 3), ('a', 1)]

In [24]:
is_opensource = True
if is_opensource  :
    print('파이썬은 무료 공개 소스다.')
else:
    print('파이썬은 무료 공개 소스가 아니다.')

파이썬은 무료 공개 소스다.

In [25]:
A = {}; B = {'파이썬':10, '자바':5}
if A :
    print("The Object A is not empty")
else :
    print("The Object A is empty.")
    
if '파이썬' in B:
    print('B에 파이썬이 있다.')
if '파이썬' not in A:
    print('A에 파이썬이 없다.')

The Object A is empty.
B에 파이썬이 있다.
A에 파이썬이 없다.

In [26]:
for i in range(0,3):
    print(i)

0
1
2

In [27]:
mylist =[]               
for x in [1,2,3,4,5] :  
    if x >=2:           
        mylist.append(x) 
mylist

[x for x in [1,2,3,4,5] if x >=2]

[2, 3, 4, 5]

[2, 3, 4, 5]

In [28]:
[i for i in range(0,10)]
[i for i in reversed([i for i in range(1,11)])]
sum([i for i in reversed([i for i in range(1,11)])])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

55

## 문자열에 대한 join과 split

In [104]:
txt = '    필 땐 장미꽃처럼, 흩날릴 땐 벚꽃처럼, 질 땐 나팔꽃처럼'
txt2 = '아름다운 그 순간처럼, 어짜피 이것 밖에 난 못해'
txt3 = '너를 사랑하는 것 밖엔 못해'
type(txt)

str

In [111]:
txt.split() # text ----> list
type(txt.split())
' '.join(txt.split(' ')) # list --------> text
'//'.join(txt.split(' '))

['필', '땐', '장미꽃처럼,', '흩날릴', '땐', '벚꽃처럼,', '질', '땐', '나팔꽃처럼']

list

'    필 땐 장미꽃처럼, 흩날릴 땐 벚꽃처럼, 질 땐 나팔꽃처럼'

'////////필//땐//장미꽃처럼,//흩날릴//땐//벚꽃처럼,//질//땐//나팔꽃처럼'

In [112]:
txt.strip()

'필 땐 장미꽃처럼, 흩날릴 땐 벚꽃처럼, 질 땐 나팔꽃처럼'

In [113]:
txt[0:10]
txt.find('장미')

'    필 땐 장미'

8

In [114]:
txt.replace('장미', '해바라기')

'    필 땐 해바라기꽃처럼, 흩날릴 땐 벚꽃처럼, 질 땐 나팔꽃처럼'