# Week 5. Quiz

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.simplefilter("ignore")

import numpy as np
import pandas as pd

### A. 데이터 생성

In [3]:
seed = 1384

In [5]:
# 무작위 시드 설정
np.random.seed(seed)

# 파라미터 설정
instance = 500
population = [True, False]
test = ['A유형','B유형', 'C유형', 'D유형', 'E유형']
date = pd.to_datetime("1st of April, 1,2021") # 수업시작날짜

# 데이터 생성
df = pd.DataFrame({
    '일자' : date + pd.to_timedelta(np.arange(instance), 'D'), # pd.util.testing.makeDateIndex(instance, freq="W")
    '이름' : [np.random.choice(['영희','희영', '철수', '수철']) for i in range(instance)],
    '국어' : np.random.randint(30,98,instance),  # 30점에서 98점사이에서 500개를 무작위추출
    '영어' : np.random.randint(25,95,instance),
    '수학' : np.random.randint(10,90,instance),
    '과학' : np.random.randint(60,100,instance),
    '공부시간' : np.random.randint(1,5,instance) + np.random.random(instance).round(2),  # 1시간에서 5시간으로 + 알파 무작위
    '시험명' : test*int((instance/len(test))),
    '출석' : [(np.random.choice(population, p=[0.8, 0.2]))*1 for i in range(instance)] # 출석울 80%
})  
    
df

                     일자  이름  국어  영어  수학  과학  공부시간  시험명  출석
0   2001-04-01 20:21:00  수철  76  81  26  71  3.94  A유형   0
1   2001-04-02 20:21:00  수철  93  48  81  84  3.02  B유형   0
2   2001-04-03 20:21:00  수철  30  64  26  84  2.64  C유형   1
3   2001-04-04 20:21:00  철수  74  72  46  65  4.75  D유형   1
4   2001-04-05 20:21:00  영희  42  26  79  91  4.83  E유형   1
..                  ...  ..  ..  ..  ..  ..   ...  ...  ..
495 2002-08-09 20:21:00  희영  83  51  81  85  1.61  A유형   1
496 2002-08-10 20:21:00  희영  39  51  71  96  2.25  B유형   1
497 2002-08-11 20:21:00  수철  37  48  65  74  4.96  C유형   1
498 2002-08-12 20:21:00  영희  73  82  12  71  3.96  D유형   1
499 2002-08-13 20:21:00  영희  93  40  46  75  2.77  E유형   1

[500 rows x 9 columns]

# 오지 선답 문제

### 문제 1. 영어 75점이상이며 국어  95점 이하인 학생은 총 몇 명인가? (8점)
###  ① 125 ② 139 ③ 135 ④ 140 ⑤ 150

### 문제 2. 국어과목 최고 점수를 제일 많이 받은 학생은 누구 누구인가? (10점)
###  ① (수철, 영희) ② (영희, 희영) ③ (희영, 철수) ④ (영희, 철수) ⑤ (철수, 수철)

### 문제 3. 'C 유형' 시험의 국 영 수 과목의 전체 평균 점수를 구하라 (10점)
###  ① 57.69333 ② 58.69333 ③ 61.74333 ④ 63.75444 ⑤ 56.69333

### 문제 4. 5가지 유형의 시험을 치른 첫번째 학생은 각각 누구인가? (10점)
###  ① (수철, 영희) ② (수철, 철수, 영희) ③ (영희, 철수) ④ (희영, 철수, 수철) ⑤ (철수, 희영, 영희)

### 문제 5.  수철이의  'A'와 'B' 유형 평균  영어점수가 다른 사람과 비교하여 높은 가? (12점)
### ① 항상 높다	② 항상 낮다	③ 똑같다 ④ 높은 편이다	⑤ 낮은 편이다

# End. 수고하셨습니다